<div class="container">
    <h1>Condiciones de Uso y Venta de KOMOlocalfoods:</h1>
        <ol>
        <li>Introducci&oacute;n</li>
        </ol>
        <p>Bienvenido a KOMOlocalfoods. Por favor, lea cuidadosamente estas condiciones de uso y venta antes de utilizar nuestros servicios. Al utilizar nuestro sitio web o plataforma de comercio electr&oacute;nico, usted acepta cumplir con estas condiciones y est&aacute; sujeto a ellas.</p>
        <ol start="2">
        <li>Uso de la Plataforma</li>
        </ol>
        <p>2.1. Uso Adecuado: Usted se compromete a utilizar KOMOlocalfoods de manera adecuada y de acuerdo con todas las leyes y regulaciones aplicables.</p>
        <p>2.2. Registro: Para realizar compras a trav&eacute;s de nuestra plataforma, es posible que deba registrarse y proporcionar informaci&oacute;n precisa y actualizada. Usted es responsable de mantener la confidencialidad de su cuenta y contrase&ntilde;a.</p>
        <p>2.3. Contenido del Usuario: Al utilizar nuestra plataforma, usted acepta no cargar, publicar o transmitir contenido que sea ilegal, difamatorio, ofensivo o que viole los derechos de terceros.</p>
        <ol start="3">
        <li>Compras y Ventas</li>
        </ol>
        <p>3.1. Productos y Precios: KOMOlocalfoods ofrece productos a la venta. Los precios y la disponibilidad de los productos est&aacute;n sujetos a cambios sin previo aviso.</p>
        <p>3.2. Pedidos: Al realizar un pedido, usted se compromete a pagar el monto total indicado. Nos reservamos el derecho de rechazar o cancelar pedidos a nuestra discreci&oacute;n.</p>
        <p>3.3. Devoluciones y Reembolsos: Consulte nuestra pol&iacute;tica de devoluciones y reembolsos para obtener informaci&oacute;n sobre las condiciones de devoluci&oacute;n y reembolso.</p>
        <ol start="4">
        <li>Privacidad y Seguridad</li>
        </ol>
        <p>Su privacidad y seguridad son importantes para nosotros. Consulte nuestra Pol&iacute;tica de Privacidad para obtener informaci&oacute;n sobre c&oacute;mo manejamos sus datos personales.</p>
        <ol start="5">
        <li>Propiedad Intelectual</li>
        </ol>
        <p>5.1. Derechos de Autor: Todos los contenidos en KOMOlocalfoods, incluyendo im&aacute;genes, texto, logotipos y marcas registradas, est&aacute;n protegidos por derechos de autor y otros derechos de propiedad intelectual.</p>
        <p>5.2. Licencia Limitada: Usted tiene permiso para utilizar KOMOlocalfoods solo para fines personales y no comerciales. No tiene permiso para reproducir, distribuir o modificar ning&uacute;n contenido sin nuestro consentimiento por escrito.</p>
        <ol start="6">
        <li>Limitaci&oacute;n de Responsabilidad</li>
        </ol>
        <p>6.1. KOMOlocalfoods no se hace responsable de da&ntilde;os directos, indirectos, incidentales o consecuentes derivados del uso de nuestros servicios.</p>
        <p>6.2. No garantizamos la disponibilidad ininterrumpida o libre de errores de nuestra plataforma.</p>
        <ol start="7">
        <li>Ley Aplicable y Jurisdicci&oacute;n</li>
        </ol>
        <p>Estas condiciones se rigen por las leyes de Espa&ntilde;a. Cualquier disputa relacionada con estas condiciones se resolver&aacute; en los tribunales de C&aacute;diz.</p>
        <ol start="8">
        <li>Cambios en las Condiciones</li>
        </ol>
        <p>Nos reservamos el derecho de modificar estas condiciones en cualquier momento. Los cambios entrar&aacute;n en vigencia inmediatamente despu&eacute;s de su publicaci&oacute;n en KOMOlocalfoods.</p>
        <ol start="9">
        <li>Contacto</li>
        </ol>
        <p>Si tiene alguna pregunta o inquietud sobre estas condiciones de uso y venta, no dude en ponerse en contacto con nosotros a trav&eacute;s de hola@komolocalfoods.</p>
        <p>Gracias por utilizar KOMOlocalfoods.</p>
        <p>Fecha de &uacute;ltima actualizaci&oacute;n: 17 de Septiembre 2023</p>
</div>