<div *ngIf="carrito_frio.length > 0">
    <h2 style="text-align: center;">Artículos Fríos</h2>


    <div fxLayout="row wrap"
    fxLayout.xs="row wrap"
    fxLayoutAlign="center"
    > 
    
    <div fxFlex="100">
        <mat-divider></mat-divider>
    </div>
    
    
    <div fxFlex="100"
       class="listado-articulos"> 

           <div *ngFor="let item of carrito_frio" class="bloque-producto">
                <button class="btn-delete" (click)="DialogModificarCarrito(item)"><mat-icon>edit</mat-icon></button>
                <img class="foto-producto" [src]="item.foto" >
            </div>
    </div>
    
    <div fxFlex="100">
        <mat-divider></mat-divider>
        </div>
        
        <app-total-pedido [carrito_frio]="carrito_frio" (newItemEvent)="get_output($event)"></app-total-pedido>
        
        </div>
        
    
    </div>
    