<div class="container">
    <h1>Política de Cookies de KOMOlocalfoods</h1>
<p>Fecha de &uacute;ltima actualizaci&oacute;n: 17 de septiembre de 2023</p>
<p>En KOMOlocalfoods, utilizamos cookies y tecnolog&iacute;as similares para mejorar su experiencia en nuestro sitio web y plataforma de comercio electr&oacute;nico. Esta pol&iacute;tica de cookies tiene como objetivo explicar c&oacute;mo utilizamos estas tecnolog&iacute;as y c&oacute;mo puede administrar sus preferencias.</p>
<p>&iquest;Qu&eacute; son las cookies?</p>
<p>Las cookies son peque&ntilde;os archivos de texto que se almacenan en su dispositivo cuando visita nuestro sitio web. Estas cookies pueden contener informaci&oacute;n sobre su navegaci&oacute;n y preferencias en l&iacute;nea, lo que nos ayuda a mejorar nuestros servicios y ofrecerle una experiencia m&aacute;s personalizada.</p>
<p>&iquest;C&oacute;mo utilizamos las cookies?</p>
<p>Utilizamos cookies con los siguientes prop&oacute;sitos:</p>
<ul>
<li>Cookies Esenciales: Estas cookies son necesarias para el funcionamiento b&aacute;sico de nuestro sitio web y nos permiten proporcionar servicios que haya solicitado, como recordar los productos en su carrito de compras.</li>
<li>Cookies de Rendimiento: Utilizamos cookies de terceros, como Google Analytics, para recopilar informaci&oacute;n sobre c&oacute;mo los usuarios interact&uacute;an con nuestro sitio web. Esta informaci&oacute;n se utiliza para analizar el rendimiento de nuestro sitio y mejorar su funcionalidad.</li>
<li>Cookies de Funcionalidad: Estas cookies nos permiten recordar sus preferencias y elecciones, como su ubicaci&oacute;n o idioma, para proporcionar una experiencia m&aacute;s personalizada.</li>
<li>Cookies de Publicidad: Trabajamos con socios publicitarios que utilizan cookies para mostrar anuncios relevantes para usted en nuestro sitio web y en otros lugares en l&iacute;nea. Estas cookies tambi&eacute;n nos ayudan a medir la efectividad de nuestras campa&ntilde;as publicitarias.</li>
</ul>
<p>&iquest;C&oacute;mo puede administrar sus preferencias de cookies?</p>
<p>Puede administrar sus preferencias de cookies de la siguiente manera:</p>
<ul>
<li>Configurando su navegador para aceptar o rechazar cookies.</li>
<li>Configurando preferencias espec&iacute;ficas de cookies en nuestro sitio web, cuando sea aplicable.</li>
<li>Utilizando herramientas de gesti&oacute;n de cookies proporcionadas por terceros, como las de Google Analytics.</li>
</ul>
<p>Tenga en cuenta que la desactivaci&oacute;n de cookies es posible que afecte la funcionalidad de nuestro sitio web y que algunas caracter&iacute;sticas pueden no estar disponibles.</p>
<p>&iquest;C&oacute;mo ponerse en contacto con nosotros?</p>
<p>Si tiene alguna pregunta o inquietud sobre nuestra pol&iacute;tica de cookies o desea ejercer sus derechos de privacidad, no dude en ponerse en contacto con nosotros a trav&eacute;s de la direcci&oacute;n de correo electr&oacute;nico <a href="mailto:hola@komolocalfoods.com">hola@komolocalfoods.com</a>.</p>
<p>Gracias por confiar en KOMOlocalfoods.</p>
</div>