<div class="container">

    <h1>Aviso de Privacidad de KOMOlocalfoods</h1>
    <p>Fecha de &uacute;ltima actualizaci&oacute;n: 17 de Septiembre 2023</p>
    <p>En KOMOlocalfoods, nos comprometemos a proteger su privacidad y mantener seguros sus datos personales. Este aviso de privacidad tiene como objetivo explicar c&oacute;mo recopilamos, utilizamos, compartimos y protegemos su informaci&oacute;n personal. Al utilizar nuestros servicios, usted acepta las pr&aacute;cticas descritas en este aviso.</p>
    <ol>
    <li>Informaci&oacute;n que Recopilamos</li>
    </ol>
    <p>1.1. Informaci&oacute;n Personal: Recopilamos informaci&oacute;n que usted nos proporciona directamente al registrarse en KOMOlocalfoods, como su nombre, direcci&oacute;n de correo electr&oacute;nico, n&uacute;mero de tel&eacute;fono y direcci&oacute;n postal.</p>
    <p>1.2. Informaci&oacute;n de Pago: Si realiza una compra a trav&eacute;s de nuestra plataforma, recopilamos informaci&oacute;n de pago, como n&uacute;meros de tarjeta de cr&eacute;dito o detalles de cuentas bancarias, para procesar sus transacciones.</p>
    <p>1.3. Informaci&oacute;n Autom&aacute;tica: Recopilamos autom&aacute;ticamente informaci&oacute;n sobre su dispositivo y su uso de nuestros servicios, como su direcci&oacute;n IP, tipo de navegador, sistema operativo, p&aacute;ginas web visitadas y fecha y hora de acceso.</p>
    <ol start="2">
    <li>Uso de la Informaci&oacute;n</li>
    </ol>
    <p>2.1. Utilizamos la informaci&oacute;n que recopilamos para:</p>
    <ul>
    <li>Procesar sus pedidos y transacciones.</li>
    <li>Personalizar y mejorar su experiencia en KOMOlocalfoods.</li>
    <li>Comunicarnos con usted sobre su cuenta y nuestras ofertas y promociones.</li>
    <li>Garantizar la seguridad de nuestras operaciones y prevenir fraudes.</li>
    <li>Cumplir con las leyes y regulaciones aplicables.</li>
    </ul>
    <ol start="3">
    <li>Compartir la Informaci&oacute;n</li>
    </ol>
    <p>No compartiremos su informaci&oacute;n personal con terceros, excepto en las siguientes situaciones:</p>
    <ul>
    <li>Con proveedores de servicios de pago para procesar transacciones.</li>
    <li>Con proveedores de servicios de env&iacute;o para entregar sus pedidos.</li>
    <li>Con autoridades legales en cumplimiento de obligaciones legales.</li>
    <li>Con su consentimiento expl&iacute;</li>
    </ul>
    <ol start="4">
    <li>Seguridad de la Informaci&oacute;n</li>
    </ol>
    <p>Tomamos medidas para proteger su informaci&oacute;n personal y garantizar su seguridad. Utilizamos pr&aacute;cticas de seguridad est&aacute;ndar de la industria para proteger sus datos contra accesos no autorizados, uso indebido o divulgaci&oacute;n.</p>
    <ol start="5">
    <li>Sus Derechos de Privacidad</li>
    </ol>
    <p>Usted tiene derechos en relaci&oacute;n con su informaci&oacute;n personal, incluyendo el acceso, correcci&oacute;n, eliminaci&oacute;n y restricci&oacute;n del uso de sus datos. Si desea ejercer alguno de estos derechos, p&oacute;ngase en contacto con nosotros a trav&eacute;s de hola@komolocalfoods.com.</p>
    <ol start="6">
    <li>Cambios en este Aviso de Privacidad</li>
    </ol>
    <p>Nos reservamos el derecho de actualizar o modificar este aviso de privacidad en cualquier momento. Los cambios entrar&aacute;n en vigencia inmediatamente despu&eacute;s de su publicaci&oacute;n en nuestra plataforma.</p>
    <ol start="7">
    <li>Contacto</li>
    </ol>
    <p>Si tiene preguntas o inquietudes sobre nuestro aviso de privacidad, p&oacute;ngase en contacto con nosotros a trav&eacute;s de hola@komolocalfoods.com.</p>
    <p>Gracias por confiar en KOMOlocalfoods.</p>
</div>