.seleccion{
  font-weight: normal;
  cursor: pointer;
}

.seleccion-activa{
  font-weight: bold;
  cursor: pointer;

}

.flecha-volver{
  display: none;
}

.info-venta{
  cursor: pointer;
}

.info-venta:hover{
  font-weight: bold;
}

.lista-tipo{
  flex-flow: row wrap;box-sizing: border-box;display: flex;place-content: stretch center;align-items: stretch;justify-content: space-around;
  position: fixed;
  width: 100%;
  left: 0;
  align-content: space-between;
  height: 30px;
  top: 55px;
  background: white;
  z-index: 100;
}

.lista-tipo p{

  line-height: 30px;
}

.btn-comprar{
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 1em;
  background-color: transparent;
  justify-content: center;
  margin-bottom:55px;
}

.selector_categoria{
    color:rgba(0, 0, 0, 0.87);
    background-color: transparent;
    border: 0;
    width: 90px;
    position: fixed;
    left: 0;
    color: transparent;
}

.caja-producto{
  display: flex;
  flex: auto;
  text-align:center;
}

.mat-chip-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.flecha{
    color: black;
}

.mat-chip{
  background-color: white!important;
  color: black;
  border: 1px solid black;
}

.mat-chip:hover{
  background-color: white!important;
  color: black;
  border: 1px solid black;
}

.mat-chip:active{
  background-color: white!important;
  color: black;
  border: 1px solid black;
}

mat-icon{
  color: black;
  
}

.center {
  margin: auto;
  width: 100%;
  padding: 10px;
}

.scrollmenu{
  width:100%;
  overflow: auto;
white-space: wrap;
}

mat-chip-list{
  position: fixed;
  padding: 10px;
  top: 35px;
  z-index: 1000;
  display: flex;
  align-items:center;
  justify-content: center;
  background-color: white;
  border-bottom: 0px solid;
}

