
    <div fxLayout="row wrap"
    fxLayout.xs="row wrap"
    fxLayoutAlign="center"
    class="container"
    >

    <div fxFlex="100"
    fxLayoutAlign="start"
    style="padding: 5px"

    >
        <button >
            <mat-icon class="material-icons color_blue" (click)="volver()" style="color: black;">keyboard_return</mat-icon>
        </button>

    </div>

    <div fxFlex="100"
    fxLayoutAlign="center"

    >

        <img src="https://komolocalfoods.com/assets/productos/komo-logo-c.png" width="150" style="margin: auto;margin-top:5px;text-align: center;" routerLink="/productos/listado" >

    </div>

    <div fxFlex="50"
    fxFlex.lg="50"
    fxFlex.sm="50"
    fxFlex.xs="100"

    >
    <p><br><br>Querido comprador,<br><br>
        En primer lugar, quiero expresar mi más profundo agradecimiento
        por tu presencia aquí. Tu elección de leer estas líneas demuestra
        que eres una persona especial, alguien comprometido en mejorar
        el mundo que nos rodea. Y déjame decirte que compartimos esa
        misma pasión y deseo de cambio.<br><br>
        Permíteme presentarte a <b>KOMOLOCALFOODS</b>, una plataforma
        que tiene como objetivo conectar contigo y con los mejores
        pequeños productores locales españoles. Estamos aquí para darte
        a conocer a los verdaderos protagonistas, aquellos que con
        dedicación y amor elaboran los productos más excepcionales de tu
        zona. Nuestro enfoque se centra en la sostenibilidad, porque
        creemos en un futuro donde los alimentos se produzcan de manera
        responsable.<br><br>
        ¿Cómo funciona nuestro servicio? Tienes múltiples opciones para
        adaptarlo a tus preferencias. Puedes optar por una compra
        conjunta, donde seleccionas productos de varios productores
        locales y pagas un único transporte en "envío conjunto". Si lo
        prefieres, puedes elegir tu producto favorito de un único productor y
        recibirlo con nuestro "envío individual". Y si deseas tener una
        experiencia aún más cercana, te ofrecemos la posibilidad de
        recoger tu compra en persona, directamente del huerto o la tienda
        de tu productor local favorito “recogida local”. Nos encanta
        establecer ese contacto directo contigo, compartir contigo el amor y
        el cuidado con los que elaboramos nuestros productos, y explicarte
        en detalle nuestra forma de trabajar sostenible y
        responsablemente.<br><br>
        Además, entendemos lo importante que es para ti recibir los
        productos en las mejores condiciones. Por eso, también ofrecemos
        la opción de “envíos refrigerados”, asegurándonos de que los
        productos lleguen a tu puerta manteniendo su calidad y frescura.<br><br>
        Queremos que sepas que al elegir nuestros productos, estás
        tomando una decisión más allá de una simple compra. Estás
        respaldando a los productores locales, a esas personas que
        dedican su tiempo y esfuerzo en crear productos especialmente
        para ti. Comprendemos lo valioso que es para ti brindar lo mejor a
        tus seres queridos, a tu familia y, lo más importante, a ti mismo.<br><br>
        Por eso, te invitamos a descubrir la belleza de los productos
        locales, productos que están elaborados pensando en ti y en tu
        bienestar. Sumérgete en la autenticidad, la calidad y el sabor
        incomparables que ofrecen nuestros pequeños productores locales.
        Únete a nosotros en este apasionante viaje, donde cada compra
        que realizas se convierte en un paso hacia un mundo mejor.<br><br>
        Gracias por ser parte de la comunidad de KOMOLOCALFOODS.
        Estamos aquí para ti, para brindarte una experiencia de compra
        única y significativa. Juntos, podemos hacer la diferencia.<br><br>
        ¡Bienvenido a nuestra familia de compradores comprometidos!<br>
        Con gratitud,<br><br>
        <b>El equipo de KOMOLOCALFOODS</b></p>

        <p>Estamos a tu disposición para cualquier duda:<br>
        hola@komolocalfoods.com<br>
        669408450
        </p>
    </div>

    </div>

