.cuerpo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://komolocalfoods.com/assets/productos/fondo-home.jpg');
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */

}

h3{
    color: white;
    font-style: italic;
}

small{
    color: white;
    font-style: italic;
}

.boton-home{
    background-color: transparent!important;
    color: white!important;
    border: 1px solid white;

}